h1{
    background-color: rgba(197, 13, 13, 0.856);
    color: ghostwhite;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: 300;
    width: 600px;
    margin-left: 310px;

}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: ghostwhite;
    font-weight: 200;

}
